<header>
  <div class="header-logo">
    <!-- Make this a link to the Top page -->
    <a href="/">ピチュー</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">自分について</a>
    </li>
  </ul>
</header>
<div class="about-main">
  <h2>ピチューについて</h2>
  <p>
    TweetApp is a social networking service.
    Users can post and interact with short messages called "tweets".
  </p>
  <img class="about-img" src="/pichu2.jpeg">
</div>